/*Color: Yellow */
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,a,a:hover {
color:#ffe400 ;
}

span.circular {
background:#ffe400 ;
}

.btn-border,.btn-white {
background:#ffe400 ;
}

.bg-blue {
background:#ffe400 ;
}

.loader-item {
border-color:#ffe400 ;
color:#ffe400 ;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
background:#ffe400 ;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
background:#ffe400 ;
}

.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > .open > a,.navbar-inverse .navbar-nav > .open > a:hover,.navbar-inverse .navbar-nav > .open > a:focus {
border-top:4px solid #ffe400 ;
color:#ffe400 ;
}

.tabbed .nav-tabs > li.active > a, .tabbed .nav-tabs > li.active > a:hover, .tabbed .nav-tabs > li.active > a:focus {
border-top:3px solid #ffe400 ;
}

.progress-bar {
background:#ffe400 ;
}

#members .info span {
color:#ffe400 ;
}

#filters li a {
border:2px solid #ffe400 ;
}

#filters li a.active,#filters li a:hover {
background:#ffe400 ;
border:2px solid #ffe400 ;
}

.attribution .attr-info strong {
color:#ffe400 ;
}

#timeline ul.timeline li.note span.note-arrow,#timeline ul.timeline li.note span.note-arrow:after {
border-right-color:#ffe400 ;
}

#timeline ul.timeline li.note,#timeline ul.timeline li.note:after {
background:#ffe400 ;
}

#timeline ul.timeline li.note:nth-of-type(2n) span.note-arrow,#timeline ul.timeline li.note:nth-of-type(2n) span.note-arrow:after {
border-left-color:#ffe400 ;
}

#timeline ul.timeline li.note:nth-of-type(2n+1):before {
border-right:10px solid #ffe400 ;
}

#timeline ul.timeline li.note:nth-of-type(2n+2):before {
border-left:10px solid #ffe400 ;
}

.accordion h4 a span {
background:#ffe400 ;
}

#blog .blog-icon {
background:#ffe400 ;
}

#blog ul.categories li:last-child a,#blog ul.categories li a:hover {
color:#ffe400 ;
}

#comments-wrapper li {
border-left:5px solid #ffe400 ;
}

#comments-wrapper li .comment-date {
color:#ffe400 ;
}

.post-media .post-comments {
background:#ffe400 ;
}

ul.menu-link > li a:hover {
color:#ffe400 ;
}

.tagcloud a:hover {
background:#ffe400 ;
}

.pager li > a,.pager li > span {
background:#ffe400 ;
}

.pager li > a:hover,.pager li > a:focus {
background:#ffe400 ;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
background:#ffe400 ;
border-color:#ffe400 ;
}

.pagination > li > a,.pagination > li > span {
border:1px solid #ffe400 ;
color:#ffe400 ;
}

.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {
background:#ffe400 ;
border:1px solid #ffe400 ;
}

footer a:hover {
color:#ffe400 ;
}

.socials li:hover {
background:#ffe400 ;
border:1px solid #ffe400 ;
}

@media (max-width:768px){
	.mm-list a:hover,.mm-list a:focus {
	background:#ffe400 ;
	}
	
	.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),.mm-menu .mm-list > li.mm-selected > span {
	background:#ffe400 ;
	}
}